#current-user-reviews-business-img{
  height:100px;
  width:100px;
  border-radius: 4px;
}

#review-list-container-current-reviews{
  display:flex;
  flex-direction: row;
}

#text-container-current-reviews{
  display:flex;
  flex-direction: column;
}

#reviews-list-main-container{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

#review-body-container-current-user-reviews{
  display:flex;
  flex-direction: column;
}
#review-card-current-user-reviews{
  position: relative;
  bottom: 100px;
  width: 700px;

  left: 170px;
  padding:10px 20px;
  border-bottom: 1px solid lightgrey;
}

#review-card-current-user-reviews:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#business-information-container-current-user-reviews{
  margin-left: 15px;
}

#review-date-current-user-reviews{
  display:flex;
  align-self: center;
  justify-self: center;
  margin-left: 10px;
}
#review-actions-current-user-reviews{
  display:flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top:10px;
  padding-bottom: 10px;
}
#delete-review-btn-current-user-reviews{
  margin-left: 1px;
  cursor: pointer;
}

#nopes-date-container-container-user-reviews{
  display:flex;
  flex-direction: row;
  padding-top: 15px;
}

#review-body-text-current-user-reviews{
  padding-top:10px;
}

.current-user-review-action-btns{
  height:25px;
  width:20px;
  cursor: pointer;
}

#no-reviews-message{
  width:100%;
  color: #E00707;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom:100px;
  right: 20px;
}
