.write-a-review-main {
    font-family: 'Open-Sans', sans-serif;
}

.write-review-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 96px;
    background-color: white;
    border-bottom: rgb(228, 228, 228) 1px solid;
}

.write-review-nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

#write-review-logo {
    height: 40px;
}

#user-avatar {
    height: 40px;
    border-radius: 999px;
}

.review-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.review-container {
    display: flex;
    flex-direction: column;
    height: 900px;
    width: 800px;
}

.review-business-title {
    font-family: 'Open-Sans', sans-serif;
    font-size: 30px;
    font-weight: 700;
    padding-top: 30px;
    padding-bottom: 30px;
}

.nopes-and-review-wrapper {
    width: 600px;
    height: 420px;
    padding: 30px;
    border: lightgray 1px solid;
    border-radius: 5px;
}

.write-a-review {
    margin-top: 30px;
}

textarea {
    font-family: 'Open-Sans', sans-serif;
    font-size: 18px;
    resize: none;
    width: 100%;
    height: 300px;
    border: none;
}

textarea::placeholder {
    color: lightgray;
}

.nopes{
    displaY:inline-block;
    position:relative;
}

.nopes span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.nopes img {
    height: 25px;
}

.nopes>span:nth-child(1):hover,
.nopes>span:nth-child(1):hover ~ span{
    background-color: red;
    border-radius: 5px;
    border-left: solid red 4px;
    border-top: solid red 4px;
    border-right: solid red 4px;
}

.nopes>span:nth-child(2):hover,
.nopes>span:nth-child(2):hover ~ span{
    background-color: #f73;
    border-radius: 5px;
    border-left: solid #f73 4px;
    border-top: solid #f73 4px;
    border-right: solid #f73 4px;
}

.nopes>span:nth-child(3):hover,
.nopes>span:nth-child(3):hover ~ span{
    background-color: #fa2;
    border-radius: 5px;
    border-left: solid #fa2 4px;
    border-top: solid #fa2 4px;
    border-right: solid #fa2 4px;
}

.nopes>span:nth-child(4):hover,
.nopes>span:nth-child(4):hover ~ span{
    background-color: #eb2;
    border-radius: 5px;
    border-left: solid #eb2 4px;
    border-top: solid #eb2 4px;
    border-right: solid #eb2 4px;
}

.nopes>span:nth-child(5):hover,
.nopes>span:nth-child(5):hover ~ span{
    background-color: #d92;
    border-radius: 5px;
    border-left: solid #d92 4px;
    border-top: solid #d92 4px;
    border-right: solid #d92 4px;
}

.nopes-selected-1>span:nth-child(5),
.nopes-selected-1>span:nth-child(5) ~ span{
    background-color: #d92;
    border-radius: 5px;
    border-left: solid #d92 4px;
    border-top: solid #d92 4px;
    border-right: solid #d92 4px;
}

.nopes-selected-1{
    displaY:inline-block;
    position:relative;
}

.nopes-selected-1 img {
    height: 25px;
}

.nopes-selected-1 span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.nopes-selected-2>span:nth-child(4),
.nopes-selected-2>span:nth-child(4) ~ span{
    background-color: #eb2;
    border-radius: 5px;
    border-left: solid #eb2 4px;
    border-top: solid #eb2 4px;
    border-right: solid #eb2 4px;
}

.nopes-selected-2 img {
    height: 25px;
}

.nopes-selected-2{
    displaY:inline-block;
    position:relative;
}

.nopes-selected-2 span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.nopes-selected-3>span:nth-child(3),
.nopes-selected-3>span:nth-child(3) ~ span{
    background-color: #fa2;
    border-radius: 5px;
    border-left: solid #fa2 4px;
    border-top: solid #fa2 4px;
    border-right: solid #fa2 4px;
}

.nopes-selected-3 img {
    height: 25px;
}

.nopes-selected-3{
    displaY:inline-block;
    position:relative;
}

.nopes-selected-3 span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.nopes-selected-4>span:nth-child(2),
.nopes-selected-4>span:nth-child(2) ~ span{
    background-color: #f73;
    border-radius: 5px;
    border-left: solid #f73 4px;
    border-top: solid #f73 4px;
    border-right: solid #f73 4px;
}


.nopes-selected-4 img {
    height: 25px;
}

.nopes-selected-4{
    displaY:inline-block;
    position:relative;
}

.nopes-selected-4 span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.nopes-selected-5>span:nth-child(1),
.nopes-selected-5>span:nth-child(1) ~ span{
    background-color: red;
    border-radius: 5px;
    border-left: solid red 4px;
    border-top: solid red 4px;
    border-right: solid red 4px;
}

.nopes-selected-5 img {
    height: 25px;
}

.nopes-selected-5{
    displaY:inline-block;
    position:relative;
}

.nopes-selected-5 span{
    background-color:#999;
    display:inline-block;
    vertical-align:middle;
    float: right;
    cursor:pointer;
    border-radius: 5px;
    border-left: solid #999 4px;
    border-top: solid #999 4px;
    border-right: solid #999 4px;
    margin-right: 2px;
}

.submit-and-cancel-review {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    width: 410px;
}

#submit-review {
    font-weight: 700;
    color: white;
    background-color: #E00707;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    transition: 1s;
}

#cancel-review {
    font-weight: 700;
    color: white;
    background-color: #E00707;
    border: none;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    transition: 1s;
}


#submit-review:hover {
    background-color: #ff2323;
    cursor: pointer;
}
#cancel-review:hover {
    background-color: #ff2323;
    cursor: pointer;
}
