#create-business-form-page {
    /* display: flex; */
    /* justify-content: center; */
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    padding-left: 10%;
    margin-top: 3%;
}

#create-form-page-right-half {
    width: 100%;
    background-color: #f1f1f1 !important;
    z-index: -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#goop-container {
    width: 70%;
    height: 70%;
    z-index: -1;
    margin-left: 18%;
}

#error-div {
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 5px;
    width: 100%;
}

#goop-validations {
    width: 80%;
}

#bNope {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

#hidden{
    display: none
}

#validations-div {
    position: absolute;
    top: 25%;
    right: 18%;
    width: 320px;
    height: 200px;
    /* border: 1px solid red; */
    row-gap: 20px;
    background-color: #ffda18;
    /* background-color: transparent; */

}

#create-form-container-left {
    width: 70%;
    padding: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-right: 50px;
}

#create-form-header {
    width: 100%;
    /* height: 50%; */
    /* margin-top: 26px; */
}

#create-form-header>h1 {
    line-height: 36px;
    overflow-wrap: break-word;
}

#form-content {
    margin-top: 36px;
    border: 1px solid #ebebeb;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;

}

.create-input-divs {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    /* margin-bottom: 10px; */
    border: none;
}

.create-input-divs>input {
    padding-left: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid black;
}

#address-input-div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 100%;
    margin-top: 20px;
    border: none;
}

#address-input-div>input {
    padding-left: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
}




.fragmented-container {
    width: 100%;
    display: flex;
    flex-direction: column;

}


.fragmented-divs-container-address-LL-url {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    /* margin-bottom: 10px; */

}

.fragmented-address-div {
    width: 31%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
}

.fragmented-address-div>input {
    padding-left: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
}

.fragmented-div-styling {
    width: 48.5%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;

}

.fragmented-div-styling>input {
    padding-left: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 4px;
}


#about-textarea-div {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    border: none;
    /* -webkit-appearance: none; */
}

#create-text-area {
    /* border-left: 1px solid black;
    border-right: 1px solid black; */
    border: 1px solid black;
    border-radius: 4px;
    width: 100%;
    height: 150px;
    padding: 15px;
    font-size: 15px;
    font-family: "Open Sans"
}

#tags-price-inputs {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* border: 1px solid pink; */
}

#click-me {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



#modal-header {
    width: 100%;
    height: 75px;
}

#header-div {
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 8px;
}

#input-styling-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13.5px;
}

#checkbox-input {
    width: 20px;
    height: 20px;
}

#text-align-center {
    text-align: center;
}

/* [type=checkbox] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
} */

.grid-container {
    border: 1px solid #ebebeb;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 5px;
    padding: 10px;
}

#tags-grid {
    display: grid;
    grid-template-columns: repeat(9, 90px);
    grid-template-rows: repeat(8, 80px);
    /* position: absolute; */
    /* top: 50px; */
    padding-right: 50px;
    display: grid;
    column-gap: 20px;
    row-gap: 10px;
    overflow: auto;
}


#price-setter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 175px;
    height: 40px;
}

#fieldset-price {
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 16px 0px;
    
    /* height: 40px; */
    font-size: 15px;
    font-weight: 600;
    text-align: center;


}


#price-select-div-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
    text-align: center;
}

#open-tags-modal {
    /* margin-top: 15px;*/
    margin-bottom: 10px;
    font-size: 15px;
    font: "Open Sans";
    font-weight: 400px;
}

#priceHeading {
    font-size: 15px;
    margin-bottom: 10px;
    font: "Open Sans";
    font-weight: 400;
}

.rate {
    display: inline-block;
    border: 0;
}

.rate> input{
    display: none;
}

.rate > .lbl {
    float: right;
}

.rate > .lbl:before {
    display: inline-block;
    font-size: 24px;
    padding-left: 10px;
    margin: 0;
    cursor: pointer;
    font-family: system-ui;
    content: "$";
}


input:checked ~ .lbl,
.lbl:hover,
.lbl:hover ~ .lbl {
    color: #FFD700;
}

input:checked+.lbl:hover,
input:checked~.lbl:hover,
input:checked~.lbl:hover~.lbl,
.lbl:hover~input:checked~.lbl {
    color: #FFD700;
} 




#button-width {
    width: 100%;
    display: flex;
    justify-content: center;
}

#button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    justify-content: flex-end;
    margin-top: 25px;
}

#tags-button,
#tags-button:hover {
    width: 175px;
    height: 40px;
    cursor: pointer;
    border: 1px solid lightgrey;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 6px 16px 0px;
    background-color: white;
    font-size: 15px;
    font-weight: 600;
    font-family: "Open Sans";
    display: flex;
    justify-content: center;
    align-items: center;
}

#cancel-button,
#cancel-button:hover,
#submit-button,
#submit-button:hover {
    height: 40px;
    width: 175px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #E00707;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15px;
}

.create-business-input {
    font-size: 16;
}

#tag-confirm-button {
    height: 40px;
    width: 175px;
    font-family: "Open Sans";
    font-weight: 600;
    font-size: 15px;
    color: white;
    background-color: #E00707;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}