.sign-up-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #E00707;
}

#signup-logo {
    height: 40px;
}

#sign-up-form-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border: 10px solid red;

}

#signUp-header {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

#signUp-form-left {
    border: 1px solid pink;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

#signUp-form-content {
    border: 1px solid #ebebeb;
    border-radius: 15px;
    padding: 10px 20px 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px 0px;

}



.signup-input-divs>input {
    padding-left: 15px;
    font-size: 15px;
    font-family: "Open Sans";
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 1px solid red;

}

/* 
.singup-input-divs-single {
    width: 100%;
    height: 40px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-input {
    height: 100%;
    width: 100%;
}

#first-name-input {
    height: 100%;
    width: 100%;
    border: 1px lightgray solid;
    border-radius: 5px;
}


#last-name-input {
    height: 100%;
    width: 100%;
    border: 1px lightgray solid;
    border-radius: 5px;
} */


#signup-submit-button {
    font-weight: 700;
    height: 40px;
    width: 316px;
    background-color: #E00707;
    border: none;
    border-radius: 5px;
    color: white;
}

#speechbox-img {
    height: 400px;
    position: relative;
    bottom: 60px;
    left: 160px;
    stroke-width: 1px
}

#signup-goop-container {
    margin-left: 50px;
    width: 400px;
    height: 400px;

}

#mini-goop-img {
    height: 350px;
}

#signup-validations-div {
    position: absolute;
    top: 17%;
    right: 28%;
    width: 320px;
    height: 210px;
    /* border: 1px solid red; */
    row-gap: 20px;
    background-color: #ffda18;
    white-space: normal;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 15px;

}


#error-box {
    display: flex;
    flex-direction: column;
    width: 270px;
    font-size: 14px;
    position: absolute;
    left: 822px;
    top: 190px;
    z-index: 999;
    color: #E00707;
    font-weight: bold;
}

#no-errs-message {
    font-size: 30px;
}