/* frontend/src/context/Modal.css */
#modal-container {
    position: fixed;
    z-index: 999999;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    /* padding: 40px 40px 40px 40px; */
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: bounce;
    animation-duration: .4s;
    /* border: red 5px solid; */
    /* width: 100%;
    height: 900px; */
}

#modal-content {
    position: absolute;
    background-color: white;
    width: 100%;
    height: 100%;
    max-height: 600px;
    min-height: 600px;
    max-width: 1200px;
    min-width: 800px;
    border-radius: 12px;
    /* padding-bottom: -200px; */
    padding: 0px 10px 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* justify-content: center; */
}

#modal-children-wrapper {
    width: 1090px;
    height: 100%;
    overflow: auto;
    display: flex;
    justify-content: center;
    padding-left: 20px;
}

#modal-children-wrapper::-webkit-scrollbar {
    width: 1em;
  }

  #modal-children-wrapper::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }

  #modal-children-wrapper::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
  }

#modal-children {
    position: absolute;
    top: 50px;
    width: 1060px;
    height: 500px;
    display: grid;
    column-gap: 10px;
    row-gap: 10px;
    grid-template-columns: repeat(4, 250px);
    overflow: auto;
}

@keyframes bounce {
    0% {
        top: 2000px
    }
}

#modal-background {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

#top-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 40px;
}

#gridded-modal-item {
    /* margin: 10px; */
    width: 100%;
    height: 250px;
}

#header-div {
    font-size: 18px;
    width: 100%;
    height: 30px;
    /* display: block; */
    text-align: center;
    margin-top: 15px;
    /* border-bottom: 1px solid lightgrey; */


}

/* #modal-container {
    width: 100%;
    height: 100%;
    border: red 10px;
} */



#close-modal {
    height: 16px;
    width: 16px;
}

#close-modal:hover {
    cursor: pointer
}

#modal-image {
    object-fit: cover;
    width: 250px;
    height: 250px;
    border-radius: 8px;

}

#modal-delete-img {
    display: flex;
    position: relative;
    bottom: 55px;
    left: 215px;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: hsl(0, 0%, 83%) 1px solid;
    border-radius: 2px;
    height: 30px;
    width: 30px;
    transition: .6s;
}

#modal-delete-img:hover {
    cursor: pointer;
    border: #E00707 1px solid;
    background-color: rgba(0, 0, 0, 0.3);
}

/* #modal-delete-img:hover #modal-trash-icon {
    filter: invert(14%) sepia(77%) saturate(7493%) hue-rotate(7deg) brightness(88%) contrast(110%);
} */

#modal-trash-icon {
    filter: invert(83%) sepia(32%) saturate(2%) hue-rotate(48deg) brightness(96%) contrast(94%);
    height: 15px;
    transition: 1s;
}

#close-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: -30px;
    right: 10px;
    color: white;
    width: 70px;
}

#close-modal:hover {
    text-decoration: underline;
}

#close-modal-icon {
    height: 24px;
    filter: invert(98%) sepia(5%) saturate(399%) hue-rotate(185deg) brightness(117%) contrast(100%);
}
