#entire-page-container{
  display:flex;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
}

#user-profile-pic{
  height:235px;
  margin-right: 30px;
}

#middle-page-conatiner{
  display:flex;
  flex-direction: row;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#user-information-div{
  display:flex;
}
