#business-card-image-curent-user{
  height:100px;
  width:100px;
}

#business-card-current-user-reviews{
  width:700px;

  justify-self: center;

}
#business-list-curr-user-master-container{
  display:flex;
  margin-top: 50px;
  flex-direction: column;
  align-items: center;
}
