#business-card-image-curent-user{
  height:100px;
  width:100px;
}

#business-card-current-user-reviews{
  width:700px;
  position: relative;
  bottom: 100px;
  justify-self: center;
  padding:10px 20px;
}

#business-card-current-user-reviews:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
#business-list-curr-user-master-container{
  display:flex;

  flex-direction: column;
  align-items: center;
  position: relative;
  left: 170px;
}

#business-name-current-user-businesses{
  color: #008EA7;
  font-weight: bold;
}

#business-name-navlink-current-user-businesses:hover{
  text-decoration: underline;
  color:#008EA7;
}

#business-navlink-card{
  text-decoration: none;
  color: black;
}

#no-listings-message{
  width:100%;
  color: #E00707;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  position: relative;
  bottom:100px;
  right: 20px;
}
