.recent-act-wrapper {
    display: flex;
    justify-content: center;
    height: 1090px;
    width: 100%;
    left: 0;
    z-index: 4;
    margin-top: 630px;
}

.recent-act-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.recent-act-title-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.recent-act-title {
    display: flex;
    justify-self: center;
    font-family: 'Open-Sans', sans-serif;
    font-weight: 700;
    font-size: 30px;
}


.recent-reviews-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    gap: 40px;
    height: 980px;
    width: 980px;

}

.recent-act-card {
    padding: 10px;
    width: 300px;
    height: 300px;
    border: lightgray 1px solid;
}

.user-recent-act-grid-wrapper {
    display: flex;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: lightgray 1px solid;
}

.review-recent-act-grid {
    display: -webkit-box;
    max-width: 100%;
    margin: 0 auto;
    -webkit-line-clamp: 4;
    /* autoprefixer: off */
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    height: 90px;
}

.user-name-recent-act-grid-wrapper {
    margin-left: 10px;
}

#grid-avi {
    height: 40px;
    border-radius: 999px;
}

#grid-business-img {
    height: 90px;
    width: 100%;
    object-fit: cover;
}

#nopes-grid {
    height: 20px;
}
